/backup
/duckdns
/nginx
/overseerr
/plex
/prowlarr
/radarr
/snap
/sonarr
/transmission
.ssh/
.nginx/
.local/
.cache/
.config/

.env
.sudo_as_admin_successful
.profile
.lesshst
.bashrc
.bash_logout
.bash_history
